	branch = main
[submodule "third_party/gaussian_splatting/submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/ZiqiShi-HMD/diff-gaussian-rasterization.git