# IntelliJ files
*.idea

# Virtual environment
venv/

# Cached files
__pycache__

# Images
src/data/cam_images
src/data/cropped_pano_images
src/data/pano_images

# Gaussian Splat file
*.ply
*.pcd

# Log Files
*.log

# Mac files
.DS_Store

hd5_files/

# Pickle file
*.pkl

assets/

# any other data files
*.csv

# any image files
*.png
*.jpg
*.jpeg
*.bmp

# checkpoints
*.ckpt
*.pt

# Build directories
build/
cmake-build-*/

glm/
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

*.png
*.pt
logs/
