# IntelliJ files
*.idea

# Virtual environment
venv/

# Cached files
__pycache__

# Images
src/data/cam_images
src/data/cropped_pano_images
src/data/pano_images

# Gaussian Splat file
src/assets/gaussian_input/point_cloud/iteration_30000/point_cloud.ply
src/assets/gaussian_output/
src/assets/splat/*


# Mac files
.DS_Store

hd5_files/
